.card-new {
  transition: transform 0.3s ease-out;
  animation: slide-in 0.5s ease-out;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

@keyframes slide-in {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@media (max-width: 600px) {
  .detected {
    position: static !important;
  }

  .graph {
    display: none !important;
  }
}
